<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<petternLayout pattern="%d - %msg%n" />
		</Console>
	</appenders>
	<Loggers>
		<Root level="DEBUG">
			<Appender-Ref ref="Console" />
		</Root>
	</Loggers>
</Configuration>